doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Maple Donut - Search a Question

    // 1,2 - CSS BOOTSTRAP LINK
    // 3 - CUSTOM CSS LINKS
    // 4 - FAVICON LINK
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/questions_search.css')
    link(rel='icon' type='image/png' href='/images/donut.png')

    // 1 - FONT AWESOME SCRIPT
    // 2 - jQuery CDN - Slim version (=without AJAX)
    // 3 - Popper.JS
    // 4 - Bootstrap JS
    // 5 - jQuery Custom Scroller CDN
    // 6 - Sidebar Animation JS
    // 7,8 - Google Auth
    script(src='https://kit.fontawesome.com/c13290656a.js' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
    script(type='text/javascript' src='/javascripts/sidebar.js')
    script(type='text/javascript' src='/javascripts/google.js' async='' defer='')
    script(src='https://apis.google.com/js/platform.js?onload=onLoad' async='' defer='')

  body
    .wrapper
      // Sidebar
      nav#sidebar
        #dismiss
          i.fas.fa-arrow-left
        // Profile picture
        .sidebar-header
          .row.justify-content-center
            .profile
              .row.justify-content-center
                img#profilepic(src='/images/donut.png')
          h2#profilename.text-center Seth Thompson
          h3.text-center
        hr
        ul.list-unstyled.components
          li
            a(href='/home')
              i.fas.fa-home
              | Home
          li.active
            a(href='#coursesSubmenu' data-toggle='collapse' aria-expanded='false')
              i.fas.fa-book
              | Courses
              ul#coursesSubmenu.collapse.list-unstyled
                li
                  a(href='/courses') Current Courses
                li
                  a(href='#') Search Courses
          li.active
            a(href='#questionsSubmenu' data-toggle='collapse' aria-expanded='false')
              i.fas.fa-question-circle
              | Questions
              ul#questionsSubmenu.collapse.list-unstyled
                li
                  a(href='/questions') Ask a Question
                li
                  a(href='/questions_search') Search Questions
                li
                  a(href='/questions_asked') Asked Questions
          li
            a(href='/professors')
              i.fas.fa-chalkboard-teacher
              | Professors
          li.active
            a(href='#discussionsSubmenu' data-toggle='collapse' aria-expanded='false')
              i.fas.fa-comments
              | Discussions
              ul#discussionsSubmenu.collapse.list-unstyled
                li
                  a(href='/discussions') Discussion Board
                li
                  a(href='/chat') Group Chats
        hr
        ul.list-unstyled.components
          li
            a(href='settings')
              i.fas.fa-cog
              | Settings
          li
            a(href='#' onclick='logOut();')
              i.fas.fa-sign-out-alt
              | Logout
      // Page Content
      #page
        nav.navbar.navbar-expand-ml
          #navbar-header.container-fluid
            a#sidebarCollapse(href='#')
              i.fas.fa-bars
            .logo
              a(href='/home')
                img(src='/images/maple-donut-logo.png')
            a(href='#')
        #content
          br
          br
          h2.text-center Have a question? We'll try to find an answer!
          .container.h-100
            form(action='/questions_search' method='post')
              .d-flex.justify-content-center
                .searchBar(id='search_bar')
                  input.searchInput(id='search_input' type='text' name='question_search' placeholder='e.g. What is Supervised learning?')
                  button.searchIcon(id='search_icon' type='submit')
                    i.fas.fa-search
              .d-flex.justify-content-center
                .select
                  select(name="filter_combobox" id="filterComboBox")
                    option(selected='selected' value='question_title') Search by
                    option(type='text' value='question_title') Title
                    option(type='text' value='label') Label/Tag
                    option(type='text' value='question_desc') Description
                    option(type='text' value='course_name') Course
                .select(id="sort_combobox")
                  select(name="sort_combobox" id="sortComboBox")
                    option(selected='selected' value='') Sort by
                    option(type='text' value='question_id') Recent
                    option(type='text' value='question_status') Answered
                    option(type='text' value='upvote') Likes
            hr
            .searchResultContainer
              if locals.data != Null
                for questions in locals.data
                  if questions.question_title != Null
                    .card
                      .questionContainer
                        h3.text-center #{questions.question_title}
                        p.text-center  Label: #{questions.label} | Course: #{questions.course_name} | Likes: #{questions.upvote}
                        if questions.question_status == 0
                          p.text-center Status: Answered
                        else
                          p.text-center Status Unanswered
                      hr(id='hr_light')
                      .cardContainer
                        p(id='desc_header').text-center Description:
                        h4.text-center #{questions.question_desc}
                      if questions.question_status == 1
                        .d-flex.justify-content-center
                          a.btn.btn-outline-warning.btn-lg(href='/questions_search/'+questions.question_id) Star Question
                            i.fas.fa-star
                          .col-md-auto
                          a.btn.btn-outline-success.btn-lg(href='/questions_search/answer/'+questions.question_id) View Answer
                      else
                        .d-flex.justify-content-center
                          a.btn.btn-outline-warning.btn-lg(href='/questions_search/'+questions.question_id) Star Question
                            i.fas.fa-star
                          .col-md-auto
                          button.btn.btn-outline-success.btn-lg(href='#' disabled) Not Answered
    .overlay
